.firstNav{
    background: #1E1F29;
}

.topInfo{
    color: #ffff;
}

.secondNav{
    background:#15161D;
}

.fIcon{
    color:#D10024
}

.line{
    width:100%;
    height:5px;
    background:#D10024;
}

